/* ===============
    Basic Styling
   =============== */
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::-webkit-scrollbar {
    width: .50em;
    height: .25em;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #d9d6d6;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 5em;
    background-color: #000;
    border-radius: 5px;
  }
}

/* ======
    Blog
   ====== */

.grid-even-collum {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: clamp(45ch, 50%, 75ch);
  justify-content: center;
  overflow: scroll;
  height: 99vh;
}

.articles {
  padding: 1rem;
  background-color: white;
  background-image: url('../Images/blog_background.jpg');
  opacity: 0.9;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  line-height: 1.5rem;
  text-align: center;
}

.articles:empty {
  display: none;
}

.articles h1,
.articles h2,
.articles h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
  text-shadow: none;
}

.articles h2 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.articles h3 {
  font-size: 1.1rem;
}

.articles p {
  display: flex;
  font-size: 1rem;
  font-family: Helvetica;
  color: black;
  text-shadow: none;
  text-align: left;
}

.articles a {
  font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    text-shadow: none;
  }

.blog-iframe {
  border: 3px solid black;
}