:root {
  --dark-color: #1a1a1a;
  --light-color: #DDD;
  --text-shadow: 2px 0 0 var(--dark-color), 0 -2px 0 var(--dark-color), 0 2px 0 var(--dark-color), -2px 0 0 var(--dark-color);
  --grey-transparent-background: rgba(74, 74, 74, 0.9);
  --font-family: 'Helvetica', sans-serif;
  --button-box-shadow: 1px 1px 0 var(--dark-color), -1px -1px 0 var(--dark-color), -1px 1px 0 var(--dark-color), 1px -1px 0 var(--dark-color);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::-webkit-scrollbar {
    width: .50em;
    height: .50em;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #d9d6d6;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 5em;
    background-color: #000;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    height: 5em;
    background-color: #000;
    border-radius: 5px;
  }
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

h2,
h3 {
  margin: 5px;
  text-align: center;
}

h4 {
  margin: 0;
  text-align: center;
}

/* ==============
    Setting Menu 
   ============== */

.table-MainMenu {
  width: 90%;
  height: 95%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-td-MainMenu {
  text-align: left;
}

.table-MainMenu [type="checkbox"]+label {
    margin-left: 175px;
}

/* ============
    Checkboxes
   ============ */

/* Hide the browser default checkbox */
[type="checkbox"] {
  opacity: 0;
}

/* Edit the checkbox label */
[type="checkbox"]+label {
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  font-size: 18px;
}

/* Checkbox when unchecked */
[type="checkbox"]+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
}

/* Apply to the checkbox when checked */
[type="checkbox"]:checked+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
}

[type="checkbox"]:checked+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-check.png");
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-check.png");
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

.multichoose img {
  width: 100%;
  position: relative;
  cursor: pointer;
  top: -10px;
  left: 0px;
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: -10px;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
  border-radius: 8px;
  pointer-events: none;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  pointer-events: none;
}

.text {
  white-space: nowrap;
  font: Helvetica;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 2px 0 0 #1a1a1a, 0 -2px 0 #1a1a1a, 0 2px 0 #1a1a1a, -2px 0 0 #1a1a1a;
  width: 100%;
  pointer-events: none;
}

/* ===============
    Radio Buttons
   =============== */

/* Hide the browser default radio */
[type="radio"] {
  opacity: 0;
}

/* Edit the radio label */
[type="radio"]+label {
  position: relative;
  padding-left: 18px;
  padding-top: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  font-size: 18px;
  margin-left: 75px;
}

/* radio when unchecked */
[type="radio"]+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
  border-radius: 50%;
}

/* Apply to the radio when checked */
[type="radio"]:checked+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
  border-radius: 50%;
}

[type="radio"]:checked+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-radio.png");
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="radio"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-radio.png");
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

/* =========
    Buttons
   ========= */

button {
  cursor: pointer;
  font-size: 18px;
  color: #1a1a1a;
  background: #EDEDED;
  border: 1px solid #1a1a1a;
  box-shadow: 1px 1px 0 #1a1a1a,
    -1px -1px 0 #1a1a1a,
    -1px 1px 0 #1a1a1a,
    1px -1px 0 #1a1a1a;
  transition: 150ms ease-in-out;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

input[type="button"] {
  position: absolute;
  top: 3px;
  left: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #1a1a1a;
  background: #EDEDED;
  border: 1px solid #1a1a1a;
  box-shadow: 1px 1px 0 #1a1a1a,
    -1px -1px 0 #1a1a1a,
    -1px 1px 0 #1a1a1a,
    1px -1px 0 #1a1a1a;
  transition: 500ms ease-in-out;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

button:hover,
input[type="button"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

.Rate-Span {
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 550;
}

.time-Span {
  min-height: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.GameLobby_Input {
  font-family: var(--font-family);
  border: 1px solid var(--dark-color);
  box-shadow: var(--button-box-shadow);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5%;
}