body {
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111111;
  background-image: url('../Images/background.jpg');
  overflow: hidden;

  font-family: 'Helvetica' sans-serif;
  font-weight: bolder;
  font-size: 18px;
  color: #DDD;
}

.wrapper {
  margin: 0 auto;
}

.section-default {
  padding: 20px;
  border-radius: 6px;
}

.section-default p {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 3px;
  font-size: 14px;
  color: #111;
}

.login-status {
  text-align: center;
  font-size: 24px;
  color: #111;
}

h1, h2, h3, h4, h5, h6, p, a, label{
  font-family: 'Helvetica', sans-serif;
  color: #DDD;
  line-height: 24px;
  font-weight: bolder;
}

h1 {
  font-weight: 600;
  font-size: 26px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 16px;
}

p {
  font-weight: 600;
  font-size: 16px;
}

nav {
  width: 100%;
  height: 40px;
  background-color: black;
}

nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li a {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #EEE;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #31a6ff;
}

section {
  margin: auto;
  margin-top: 15px;
  background: rgba(240, 240, 240, 0.8);
  width: 30%;
  padding-bottom: 10px;
}

select {
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
}

input, button {
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 550;
}

/* Sign Up + Profile */
.signup-form{
  background-color:rgba(74, 74, 74, 0.8);
  border: 1px solid black;
  border-radius: 5px;
}

.signup-form-form {
  display: flex;
  justify-content: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #DDD;
  margin-bottom: 5px;
}

.signup-form-form a {
  color: inherit;
  text-decoration: inherit;
}

.signup-form p {
  width: 100%;
  text-align: center;
  color: #DDD;
  border: 1px black;
  font-weight: bold;
  font-size: 20px;
}

.signup-form div {
  margin-bottom: 3px;
}

.signup-form h2 {
  text-align: center;
  margin-top: 6px;
  color: #DDD;
  font-weight: bold;
  font-size: 24px;
}

.signup-form form {
  width: 85%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.signup-form form input {
  width: calc(100% - 16px);
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 3px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #EEE;
  font-size: 17px;
  float: left;
  color: black;
}

.signup-form form button {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #333;
  font-size: 20px;
  font-weight: bolder;
  color: #DDD;
  text-align: center;
  text-decoration: inherit;
  cursor: pointer;
}

/* Reset Password */
.form-resetpwd {
  margin: 0 auto;
  width: 100%;
}

.form-resetpwd input {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 4px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #F6F6F6;
  float: left;
  font-size: 18px;
}

.form-resetpwd button {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 3px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  color: #DDD;
  height: 40px;
  background-color: #333;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: inherit;
  cursor: pointer;
}

.p-forgetpwd {
  display: block;
  padding: 10px 0;
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  color: #111;
}

.message{
   margin:10px 0;
   width: 100%;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: var(--red);
   color:var(--white);
   font-size: 20px;
}

/* Draft style */

.draft-form {
  background-color:rgba(74, 74, 74, 0.8);
  border: 1px solid black;
  border-radius: 15px;
  width: 30%;
}

.draft-form-form {
  display: flex;
  justify-content: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #DDD;
  margin-bottom: 5px;
}

.draft-form div {
  margin-bottom: 3px;
}

.draft-form h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
  color: #DDD;
  font-weight: bold;
  font-size: 24px;
}

.draft-form form {
  width: 85%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.draft-form-form form input {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 3px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  color: #DDD;
  height: 40px;
  background-color: #333;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: inherit;
  cursor: pointer;
}
