.mod-page {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 75%;
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .mod-page h1 {
    color: #ff0000;
    font-weight: bold;
    margin-top: 0;
  }
  
  .ban-player-form, .close-game-form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #1a1a1a;
  }
  
  input[type="submit"] {
    width: auto;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
  }
  
  .banned-players-list, .recent-accounts-list, .banned-ips-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .banned-players-list li, .recent-accounts-list li, .button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }