<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Security Tests">
            <directory>tests/Security</directory>
        </testsuite>
        <testsuite name="Validation Tests">
            <directory>tests/Validation</directory>
        </testsuite>
        <testsuite name="Business Logic Tests">
            <directory>tests/BusinessLogic</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">Libraries</directory>
            <directory suffix=".php">AccountFiles</directory>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>crops</directory>
            <directory>concat</directory>
            <directory>WebpImages</directory>
            <directory>New Cards</directory>
            <directory>Assets</directory>
        </exclude>
    </coverage>
</phpunit>
